@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

#toast-container > div {
  opacity: 1.0 !important;
}

body {
  max-height: 100vh;
  font-family: 'Roboto', sans-serif !important;
}

select {
  max-width: 100%;
}

#body-row {
  margin-left:0;
  margin-right:0;
}





#main-menu .list-group-item { 
  border: 1px solid gray !important;
}

#map-opened-layers-container {
  position: absolute;
  top: 64.75%;
  right: 0px;
  height: 10%;
  width: 200px;
  background-color: #383c42F2;
  color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 2px;
  font-size: 9px;
  z-index: 1001;
}

/* Firefox */
#map-opened-layers-container {
  scrollbar-width: thin;
  scrollbar-color: #545454 #DFE9EB;
}

/* Chrome, Edge and Safari */
#map-opened-layers-container::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}
#map-opened-layers-container::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

#map-opened-layers-container::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

#map-opened-layers-container::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

#map-opened-layers-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #545454;
}

#map-opened-layers-container::-webkit-scrollbar-thumb:hover {
  background-color: #545454;
}

#map-opened-layers-container::-webkit-scrollbar-thumb:active {
  background-color: #545454;
}

.opened-layer-list-item {
  padding: 4px;
  color: #FFFFFF;
  font-weight: 400;
}

#map-right-icons {
  z-index: 2;
  position: absolute;
  top: 45%;
  right: 0px;
  padding-bottom: 25px;
  margin-right: 10px;
}

.map-right-icon-square {
  padding: 10px;
  width: 40px;
  height: 40px;
}

.map-right-counter {
  position: relative;
  top: -30px;
  right: -10px;
  border-radius: 75%;
  padding: 2px;
  width: 15px;
  height: 15.2px;
  background-color: #0eb87c;
  color: #FFFFFF;
  font-size: 8px;
  text-align: center;
}

#map-right-buttons {
  z-index: 2;
  position: absolute;
  top: 35%;
  right: 0px;
  padding-bottom: 25px;
}

#map-right-buttons .map-right-button {

  display: inline-block; vertical-align: top;

  /* This does the rotation of the button */
  transform: rotate(-90deg);
  transform-origin: top right;
  min-height: 30px;
  position: relative;
  right: 30px; /* Min height is used to shift the button - super important for alignment */

  /* UI look */
  background-color: #3f626eF2;
  color: #FFFFFF;
  border-radius: 10px 10px 0px 0px;
  border: 2px solid #3f626eF2;
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;


}

#map-right-buttons .map-right-button[data-state="opened"] {
  right: 26px;
}


#map-right-buttons .map-right-container {
  display: inline-block; 
  background-color: #383c42F2;
  height: 45%; 
  vertical-align: top;
  width: 200px;
  max-height: 45vh;
  overflow-y: auto;
}

#map-right-buttons .map-right-buttons-parent-container {
  display: inline-block;
}

#map-right-buttons .map-right-hidden {
  display: none;
}

#map-right-buttons .map-right-button:focus {
  outline: unset;
}

/* Firefox */
.map-right-container {
  scrollbar-width: thin;
  scrollbar-color: #545454 #DFE9EB;
}

/* Chrome, Edge and Safari */
.map-right-container::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}
.map-right-container::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

.map-right-container::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

.map-right-container::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

.map-right-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #545454;
}

.map-right-container::-webkit-scrollbar-thumb:hover {
  background-color: #545454;
}

.map-right-container::-webkit-scrollbar-thumb:active {
  background-color: #545454;
}

.map-right-container .list-group h6 {
  font-size: 11px !important;
}

.map-right-container .list-group h7 {
  font-size: 10px !important;
}

.map-right-container .list-group .list-group-item {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: unset;
  color: #FFFFFF;
}




#map-top-buttons {
  /* This causes blocking of the map clicking */
  /* z-index: 2;
  position: absolute;
  top: -2px;
  padding-left: 25px; */
}

.map-top-buttons-parent-container {
  display: inline-block; 
  width: 250px;
  vertical-align: top;
  z-index: 2;
  position: relative;
  top: -16px;
  padding-left: 25px;

}

.map-top-button {
  min-width: 140px;
  text-align: left;
}

.map-top-container {
  background-color: #383c42;
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0px 0px 10px 0px;
  scrollbar-width: thin;
}

.map-top-container #layers-menu a {
  padding: 10px !important;
}

.map-top-container #layers-menu h6 {
  font-size: 11px !important;
}

.map-top-container #layers-menu h7 {
  font-size: 10px !important;
}

.map-top-container #layers-menu .btn-toggle {
  transform: scale(0.60);
  border-radius: 30px;
}

.map-top-container #layers-menu .layer_group_title {
  padding-left: 0px !important;
}

.map-top-container #tree-filter-options * {
  font-size: 10px;
}

.map-top-container #tree-filter-options .query-builder, 
.map-top-container #tree-filter-options .query-builder .rules-group-container,
.map-top-container #tree-filter-options .query-builder .rule-container {
  background-color: #383c42 !important; 
}

.map-top-container #tree-filter-options .query-builder .rules-group-container:not([id="builder_group_0"]) button[data-add="group"]  {
  display: none;
}

.map-top-container #tree-filter-options .query-builder .rules-group-container {
  border: 0px !important;
  padding: 1px;
}

.map-top-container #tree-filter-options .query-builder .rule-container {
  border: 1px solid #4d4d4d;
}

.map-top-container #tree-filter-options .query-builder .rules-list .phenotypes_list {
  color: #FFFFFF; 
}

.map-top-container #tree-filter-options .query-builder .rule-value-container {
  border: 0px !important;
}

.map-top-container #tree-filter-options .group-conditions .btn {
  padding: 5px;
  margin-right: 0px;
  font-size: 8px !important;
}


.map-top-container #tree-filter-options .group-actions .btn {
  padding: 2px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-right: 2px;
  border-radius: 2px;
  font-size: 6px !important;

}

.selection_set_all, .selection_set_none_overlap {
  width: 50%;
  padding: 5px;
}

.selection_set_overlap {
  padding: 5px;
  min-width: 50%;
  max-width: 100%;
}

.map-top-container #tree-filter-options .rules-group-container .rules-group-container {
  margin-left: -4px;
}


.filter-notice {
  color: #ffcd00;
  font-size: 0.7em !important;
  text-transform: uppercase;
}

.map-top-container #tree-filter-options .btn[data-delete="rule"],  .map-top-container #tree-filter-options .btn[data-delete="group"]{
  font-size: 6px !important;
  padding: 2px !important;
  line-height: 0;
  padding-left: 4px !important;
  padding-right: 4px !important;
  margin-right: 4px;
  float: right;
}

.query-builder.rules_ui .rule-container .rule-filter-container {
  max-width: 20%;
}
.query-builder.rules_ui .rule-container .rule-operator-container {
  max-width: 10%;
}
.query-builder.rules_ui .rule-container .rule-value-container {
  max-width: 50%;
}

#tree-filter-options .query-builder .drag-handle, 
#tree-filter-options .query-builder .error-container, 
#tree-filter-options .query-builder .rule-container .rule-filter-container, 
#tree-filter-options .query-builder .rule-container .rule-operator-container, 
#tree-filter-options .query-builder .rule-container .rule-value-container {
  display: block !important;
}

.map-top-container #tree-filter-options .filter-operation-buttons {
  /* 
  margin-bottom: 20px;
  position: relative;
  bottom: 0;
  */

  position: sticky;
  top: -2px;
  background-color: #383c42;
  padding-top: 5px;
  /* padding-bottom: 5px; */
  z-index: 1000;
}

.map-top-container #tree-filter-options .filter-operation-buttons button{
  font-size: 8px !important;
  padding: 5px !important;
  margin-right: unset;
}



.map-top-container #tree-filter-options select.form-control {
  height: unset;
  /* padding: unset; */
  padding: 5px;
  width: 100%;
}

.rule-operator-container {
  width: 96%;
}

.map-top-container #tree-filter-options .rule-value-container > select {
  min-width: 100px !important;
  max-width: 99% !important;
}

/* Firefox */
.map-top-container {
  scrollbar-width: thin;
  scrollbar-color: #545454 #DFE9EB;
}

/* Chrome, Edge and Safari */
.map-top-container::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}
.map-top-container::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

.map-top-container::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

.map-top-container::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

.map-top-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #545454;
}

.map-top-container::-webkit-scrollbar-thumb:hover {
  background-color: #545454;
}

.map-top-container::-webkit-scrollbar-thumb:active {
  background-color: #545454;
}

.map-top-hidden {
  display: none;
}

#map-top-buttons .map-top-button {
  background-color: /* #3f626eF2; */ /* #009c67f2; */ #004f51f2;
  color: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid /* #3f626eF2; */ /* #199977f2; */ #005135f2;
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;  
}

#map-top-buttons .map-top-button .arrow {
  font-size: 8px;
}

#map-top-buttons #map-top-plant-data-sources .btn-toggle {
  transform: scale(0.5);
  border-radius: 30px;
  margin: unset;
}

#map-top-buttons #map-top-plant-data-sources h6 {
  transform: scale(0.8);
}

#map-top-buttons #map-top-plant-data-sources .list-group-item {
  padding: 0px;
  background-color: unset;
  color: #FFFFFF;
}

#map-top-buttons .map-top-button:focus {
  outline: unset;
}

/* loading dots */

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: rgb(0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 rgb(0, 0, 0),
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}

.btn {
	color: #FFFFFF !important;
}
/* ---------------------------------------------------
  Sidebar and general navbar styling
----------------------------------------------------- */
.sidebar-container {
  height: 90vh;   
  background-color: #333;
  padding: 0;
  overflow: auto;
}

.sidebar-title{
  padding: 15px;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
.sidebar-container .list-group a {
  height: 50px;
  color: white;
}

#layers-menu .list-group a {
  color: white;
}

.sidebar-menu-header {
  font-size: .9rem;
}

/* Submenu item*/
.sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 5px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;  
  height: 60px;
}

/* Closed submenu icon */
.sidebar-container 
.list-group 
.list-group-item[aria-expanded="false"] 
.submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Opened submenu icon */
.sidebar-container 
.list-group 
.list-group-item[aria-expanded="true"] 
.submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/*layers submenu*/
.layers-items label {
  font-size: .8rem !important;
}

.inner-layer-header h7 {
  line-height: 1;
}

.layers-items {
  padding-bottom: 1rem;
} 

.inner-layer-op {
  border-bottom: 1px solid gray;
  margin-bottom: .5rem;
}

/* ---------------------------------------------------
  MAP
----------------------------------------------------- */
#map { 
  position: absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
}

/**
 * * Set rules for how the map overlays
 * * (info box and legend) will be displayed
 * * on the page. */
#map-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 90vh;
}

.map-overlay {
  top: 0;   
  height: 50vh;   
  margin-top: 10vh;   
  width: 18vw;
  position: absolute;   
  bottom: 0;   
  right: 2vw;   
  margin-right: 20px;   
  font-family: Arial, sans-serif;   
  border-radius: 3px; 
  max-height: 80vh;
  background-color: rgba(255, 255, 255, 0.75);
}

.map-overlay > h4 {
  color: #1e7e34;
  font-weight: bold;
}

/* ---------------------------------------------------
  Filter selection and fields
----------------------------------------------------- */

.filter-selection {
  width: 97%;
  margin-bottom: .5em;	
}

.option {
  margin: 5px;
}

.select2-container { 
  width: 100% !important;
}

.hidden {
  display: none !important;
}


/* ---------------------------------------------------
  Override CSS and default theme
----------------------------------------------------- */
@media (min-width: 34em){ 
  .navbar {
  border-radius: 0 !important;
  }
}

.navbar-brand>img {
  display: inline-block !important;
}

.modal.fade
.modal-dialog {
  transform: none !important;
}

.modal-backdrop.fade {
  opacity: .5 !important;
}

.navbar-brand img{
  width: 35vh;
}

#cartogratreeTitle img{
  width: 40vh;
}

/* ---------------------------------------------------
  LEGEND STYLING
----------------------------------------------------- */
#legend{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  bottom: 0;
  margin-bottom: 5vh;
  position: absolute;
  left: 1rem;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  z-index: 2;
}

.non-img-legend{
  height: 35vh;
  width: 20vw;
}

.neon-legend-key{
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
}

.soil-legend-key{
  display: inline-block;
  //border-radius: 20%;
  width: 25px;
  height: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.soil-legend-key:hover{
  width: 27px;
}

.soil-legend-key.active{
  border: 1px solid black;
}

.legend-label.active{
  font-weight:bold;
}

#legend-content{
  margin-top: 20px;
  padding: 15px;
}

#legend-title-container{
  position: fixed;
  background-color: white;
  width: inherit;
  padding: 7px;
}

.sidebar-submenu .layers-items-header{
  background-color: #FFFFFF !important;
  padding: .3em !important;
  border-bottom: 1px solid #000000 !important;
}

.sidebar-submenu .layers-items-header a{
  color: #000000 !important;
}

/* ---------------------------------------------------
	POPUP
----------------------------------------------------- */
/* Marker popup tweaks */
//custom marker maybe
.marker{
	border: none;
	cursor: pointer;
	height: 56px;
	width: 56px;
	background-image: url(marker.png);
	background-color: rgba(0, 0, 0, 0);
}

.badge-primary {
  background-color: #e2b448 !important;
  color: #000000;
}

.mapboxgl-popup{
	z-index: 3;
	padding-bottom: 50px;
  max-width: none !important;
  width: 30% !important;
  max-height: 200px;
}
.mapboxgl-popup-close-button{
	z-index: 2;
	color: red;
	background-color: white;
}
.mapboxgl-popup-content{
	font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
	padding:10px;
  width: 95% !important;
}
.mapboxgl-popup-content-wrapper{
	padding:1%;
}
.mapboxgl-popup-content h3{
	background-color:#ff8300;
	color:#ffffff;
	margin:0;
	display:block;
	padding:4px;
	border-radius:3px 3px 0 0;
	font-weight:700;
	margin-top:-15px;
	font-size: 14px;
}
.mapboxgl-popup-content h4{
	margin:0;
	display:block;
	font-weight:400;
  font-size: 0.75rem !important;
}

.mapboxgl-popup-content div:first-child{
	width: 100%;
}

.mapboxgl-popup-content .card {
  max-height: 200px;
}

.mapboxgl-popup-content .card-header {
  padding-top: 4px;
  padding-bottom: 4px;
  padding: 10px;
  height: 80px;
}


.mapboxgl-container .leaflet-marker-icon{
	cursor:pointer;
}
.mapboxgl-ctrl-geocoder{
	border: 2px solid #ff8300;
	border-radius: 0;
	position: relative;
	top: 0;
	width: 800px;
	margin-top: 0;
	border: 0;
}
.mapboxgl-ctrl-geocoder > div{
	min-width:100%;
	margin-left:0;
}

.environmental-values table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.environmental-values table tr:nth-child(even) td:nth-child(odd) {
  text-transform: uppercase;
  font-size: 12px;
}

.environmental-values table tr:nth-child(even) td:nth-child(even) {
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
}

.environmental-values table tr:nth-child(odd) {
  background-color: #dce4e2;
}

.environmental-values table tr:nth-child(odd) td:nth-child(odd) {
  text-transform: uppercase;
  font-size: 12px;
}

.environmental-values table tr:nth-child(odd) td:nth-child(even) {
  text-transform: uppercase;
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
}

#tree-filter-options .rule-value-container {
  display: block !important;
  padding: 0px !important;
}

#tree-filter-options .rules-group-container {
  width: 100%;
}

#tree-filter-options .rule-value-container select {
  width: 100%;
}

.selectize-control {
  display:block !important;
  padding: 0px !important;
  border: 0px !important;  
}

.selectize-input {
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
}

/* slides tweaks */
.carousel-item .card{
	margin: 0 auto;
}
.carousel-item{
	width: 80%;
	margin: 0 auto;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
	background-color: black;
}
.carousel-control-next{
	float: right;
}
.carousel-control-prev{
	float: left;
}
.card-header p{
	color: white;
	padding: unset;
}
.card-body{
	padding: unset;
}
.card-body > .row{
	margin: 0;
}
.add-tree-btn{
	float: left;
}
.card{
	margin-bottom: 0px !important;
}

#tree-details {
  z-index: 2;
}

.carousel-indicators {
  display: none;
}

#tree-details-env-values{
	max-height: 6em;
	overflow-y: scroll;
}
.environmental-values{
	max-height: 250px;
	overflow-y: scroll;
}
.environmental-values > .list-group-item{
	padding: 1.5rem 1.25rem !important;
}
.treesnap-logo, .dryad-logo{
	width: 2rem;
}
.treegenes-logo{
	width: 7rem;
}
.popup-attr{
	width: 10em;
	padding: .8em;
}
.pheno-prop-container{
	max-height: 3em;
	overflow-y: scroll;
}

/* ---------------------------------------------------
  ANALYSIS FORM STYLING
----------------------------------------------------- */
.right-btn{
	float: right;
}
.left-btn{
	float: left;
}

/* ---------------------------------------------------
  OVERRIDE STYLING
----------------------------------------------------- */
h6, .h6 {
  font-size: .9rem !important;
}

#organism-container > .row {
  width: 100%;
  margin: 0;
}

.list-group-item {
  border: none !important;
}

.navbar{
  background-color: #112d32 !important;
}

#publications-filters-container {
  padding-right: 0;
}

/* ---------------------------------------------------
  SELECT OVERRIDE STYLING
----------------------------------------------------- */
/*
.select2-selection__rendered li {
  width: 100%;
  //background-color: #FFFFFF !important;
}

.select2-search {
  background-color: #FFFFFF !important;
}

.select2-selection__rendered {
  background-color: #343A40;
  padding: 0 !important;
}

.select2-selection__rendered > .select2-selection__choice {
  padding: 5px !important;
  font-size: .9rem !important;
  text-align: left !important;
}
*/
.select2-search__field {
  width: 100% !important;
}


/* ---------------------------------------------------
  MISC STYLING
----------------------------------------------------- */
.opacity {
  max-width: 100%;
} 

.inner-list-header {
  color: #FFFFFF;
}

.white-break-line {
  background-color: #FFFFFF;
}

#tree-filter-type-select {
  padding-left: 5px;
  font-size: .8rem;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.selected-filters-container {
  padding: 1rem;
  background-color: #FFFFFF;
}

.selected-filters-container h5 {
  font-weight: 650;
}

.selected-filters-container-item {
  padding: .7rem;
  font-size: .8rem;
  font-weight: 500;
  min-width: 90%;
}

.selected-filters-container-item > .badge-light{
  float: right;
}

.highlight {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.remove-filter-item {
  float: left;
  cursor: pointer;
}

.selected-filter-item {
  padding: .2rem !important;
}

.selected-filter-item span {
  display: block;
  white-space: normal;
}

#family-filter-container, #genus-filter-container, #species-filter-container{
  overflow-y: scroll;
  max-height: 25vh;
}

.clickable {
  cursor: pointer;
}

#user-dropdown-profile {
  width: 100%;
}

.reload-tree-data {
  //float: right;
}

.clear-all-selection {
  float: left;
}

.organism-section-header {
  float: right;
}

#saved-session-list > div {
  margin-left: 1rem;
}

.delete-saved-session {
  max-height: 2rem !important;
  width: 33%;
}

#fieldsite-data {
  overflow-y: scroll;
  max-height: 30vh;
}

a.list-group-item:focus, a.list-group-item-action:hover{
  color: #FFFFFF !important;
}

line {
  vector-effect: non-scaling-stroke;
  stroke: #000;
  stroke-dasharray: 10;
  stroke-width: 5px;
}

.row-100 {
  width: 100%;
}

#clear-filters {
  border-color: #dc3545;
  color: #dc3545;
}

#clear-filters:hover {
  color: #ffffff;
}

/*
.layers-container {
  overflow-y: scroll;
  max-height: 40vh;
}
*/
.query-builder .rules-group-container {
  background-color: #ffffff !important;
}

.rules-group-header > div > button {
  font-size: 10px !important;
  padding: 4px 6px;
  margin-right: 3px;
}

.rules-group-header > div > button:focus {
  padding: 5px 6.5px;
}

.rule-header > div > button {
  font-size: 10px !important;
}

.rule-value-container > select {
  min-width: 270px;
  max-width: 270px;
  text-overflow: ellipsis;
}

.group-conditions > .btn-primary {
  background-color: #6c757d;
}

.group-conditions > .btn-primary:hover { 
  background-color: #6c757d;
}

#tree-details-wrapper > .card {
  background-color: rgba(255, 255, 255, 0.85);
}

#tree-details-wrapper > ul > li {
  background-color: rgba(255, 255, 255, 0.85);
}

#tree-ids-list {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

#tree-ids-list > div > .btn {
  width: 35% !important;
}

#tree-ids-list > div {
  margin-bottom: 0.5rem;
}

#tree-ids-list > div > .badge {
  font-size: 100%;
  line-height: 1.5 !important;
}

.tree-card {
  width: 100%;
}

.tree-card > div > h5 > button {
  font-size: 16px;
}

.tree-img > img{
  width: 50% !important;
  margin: 0 auto;
}

#save-session-list > a > h4, h5, p {
  color: #000000 !important;
}

#save-session-list > a > div {
  color: #000000 !important;
}

.session-title {
  color: #000000 !important;
}

.img-full > img {
  width: 100%;
  //margin: 10px;
}

#tree-details-extra {
  max-height: 10vh;
  overflow-y: scroll;
}

#tree-details-extra > li {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (min-width:48em){
	.modal-lg {
		max-width: 95% !important;
		width: 100% !important;
	}
}

.selectize-dropdown {
  padding: 0px !important;
}

.selectize-input {
  padding: 5px !important;
}

.selectize-control.single .selectize-input:after {
  right: 5px !important;
}

#more_info_phenotype_table th,  #more_info_genotype_table th{
    background-color: #589a60;
    color: #FFFFFF;
    padding: 5px;
	border: 1px solid #41824c;
}

#more_info_phenotype_table td,  #more_info_genotype_table td{
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px;
	border: 1px solid #e0e0e0;	
}

/* Legend Scrollbar */
/* width */
#legend::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#legend::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#legend::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#legend::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#tree-filter-options .rules-group-container .rules-group-header {
  position: sticky;
  top: 26px;
  z-index: 1001;
  background-color: #383c42;
  padding-top: 5px;
  /* padding-bottom: 10px; */
}

.tag {
  display: inline-block; 
  padding: 2px; 
  border-radius: 2px; 
  padding-left: 4px;
  padding-right: 4px;
}

#analysis_detections_study_summary table, #analysis_detections_study_summary th, #analysis_detections_study_summary tr, #analysis_detections_study_summary td {
  border: 1px solid #f3f3f3;
  border-collapse: collapse;
}

#analysis_detections_study_summary td,  #analysis_detections_study_summary th{
  padding: 4px;
}

.rules_ui .rules-group-container {
  width: 100%;
}

/* .querybuilder.rules_ui .rule-container .rule-filter-container, 
.querybuilder.rules_ui .rule-container .rule-operator-container, 
.querybuilder.rules_ui .rule-container .rule-value-container {
  width: 30% !important;
  display: inline-block !important;
} */